<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
<div class="box">
    <div class="content">
        <div class="login-wrapper">
            <h1>Register</h1>
            <form class="login-form" action="/user/register" method="post">
                <div class="username form-item">
                    <span>Use email or phone number</span>
                    <input type="text" class="input-item" placeholder="username" name="username">
                </div>
                <div class="password form-item">
                    <span>password</span>
                    <input type="password" class="input-item" placeholder="password" name="password">
                </div>
                <button class="login-btn" type="submit" value="Register">Register</button>
            </form>
        </div>
    </div>
</div>
</body>

</html>